h1 { 
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.5rem;
    text-transform: uppercase;
    color: #FFFFFF;
}
h2 { 
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
}